@media screen and (max-width: 768px) {
    body{
        font-size:10px;
    }
    .nav{
        display:flex;
        flex-wrap: wrap;
        font-size: 1rem;
        height: auto;
    }
    .nav a {
        font-weight:normal;
        margin: 2px 5px;
    }
    .instruction {
        display: none;
    }
    .block {
        margin-top: 120px;
    }
    .logo {
        border:none !important;
        width: 150px!important;
        height:150px!important;
        margin-top: 0rem !important;
    }
    .indented {
        margin: 0px 10px;
    }
    #poem {
        font-size: 17px;
    }
    #reviews{
        font-size: 15px;
        margin: 0px 2px;
    }
    p {
        font-size: 1.5rem;
        margin: 0px 2px;
    }
    video {
        width: 300px;
        height: 300px;
        margin-top: 20px;

    }
    #links_addresses {
        text-align: center;
        font-size: 1.5rem;
    }
    #images_container{
        margin-top: 10px;
    }
    img {
        width: 150px;
        height: 150px;
        border: 5px solid;
    }
    img:active{
        width: 150px;
        height: 150px;
    }
    .price_title {
        font-size: 2rem;
        }
    td {
        border: solid black;
        height: 60px;
        width: 180px;
        font-size: 2rem;
        font-weight:normal;
    } 
    .footer_price {
    font-size: 1.5rem;
    margin-top: 40px;
    font-style: italic;
    } 
    #form {
        display: unset;
    }
    fieldset {
        margin-top:120px;
    }
    label {
        font-size: 1rem;
    }
    .invisible_label {
    display: none;
    }
    .list_of_inputs input{
    width: 100px;
    }
    .items {
    display: grid;
    grid-template-columns: repeat(1, 100px)
    }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
    body{
        font-size:14px;
    }
    .nav{
        display:flex;
        flex-wrap: wrap;
        font-size: 1rem;
        height: auto;
    }
    .nav a {
        font-weight:normal;
        margin: 2px 5px;
    }
    .instruction {
        display: none;
    }
    .block {
        margin-top: 80px;
    }
    .logo {
        border:none !important;
        width: 180px!important;
        height:180px!important;
        margin-top: 0rem !important;
    }
    .indented {
        margin: 0px 10px;
    }
    #poem {
        font-size: 25px;
    }
    #reviews{
        font-size: 15px;
        margin: 0px 100px;
    }
    p {
       font-size: 2rem;
        margin: 0px 100px;
    }
    video {
        width: 300px;
        height: 300px;
        margin: 40px;
    }
    #links_addresses {
        text-align: center;
        font-size: 2rem;
    }
    img {
        width: 220px;
        height: 220px;
        border: 7px solid;
    }
    img:active{
        width: 220px;
        height: 220px;
    }
    .price_title {
        font-size: 3rem;
        }
    td {
        border: solid black;
        height: 90px;
        width: 300px;
        font-size: 2rem;
        font-weight:normal;
    } 
    .footer_price {
    font-size: 2rem;
    margin-top: 40px;
    font-style: italic;
    } 
    label {
        font-size: 1rem;
    }
    .invisible_label {
    display: none;
    }
    .list_of_inputs input{
    width: 200px;
    }
    
    .items {
    display: grid;
    grid-template-columns: repeat(2, 200px)
    }
    
}
